/* Course: SENG 513 */
/* Date: OCT 12, 2023 */
/* Assignment 2 */
/* Name: Yunfan Yang */
/* UCID: 30067857 */

:root {
    --card-height: 140px;
    --card-width: 100px;
}

div.card {
    background-image: url("assets/backB.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--card-height);
    width: var(--card-width);
    border-radius: 4%;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.2, 0.0, 0, 1.0), top 0s, left 0s, background 0s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transform-style: preserve-3d;
}

div.card:hover {
    transform: scale(1.1);
}

div.j.heart {
    background-image: url("assets/11H.png");
}

div.j.diamond {
    background-image: url("assets/11D.png");
}

div.j.club {
    background-image: url("assets/11C.png");
}

div.j.spade {
    background-image: url("assets/11S.png");
}

div.q.heart {
    background-image: url("assets/12H.png");
}

div.q.diamond {
    background-image: url("assets/12D.png");
}

div.q.club {
    background-image: url("assets/12C.png");
}

div.q.spade {
    background-image: url("assets/12S.png");
}

div.k.heart {
    background-image: url("assets/13H.png");
}

div.k.diamond {
    background-image: url("assets/13D.png");
}

div.k.club {
    background-image: url("assets/13C.png");
}

div.k.spade {
    background-image: url("assets/13S.png");
}

div.two.heart {
    background-image: url("assets/2H.png");
}

div.two.diamond {
    background-image: url("assets/2D.png");
}

div.two.club {
    background-image: url("assets/2C.png");
}

div.two.spade {
    background-image: url("assets/2S.png");
}

div.three.heart {
    background-image: url("assets/3H.png");
}

div.three.diamond {
    background-image: url("assets/3D.png");
}

div.three.club {
    background-image: url("assets/3C.png");
}

div.three.spade {
    background-image: url("assets/3S.png");
}

div.four.heart {
    background-image: url("assets/4H.png");
}

div.four.diamond {
    background-image: url("assets/4D.png");
}

div.four.club {
    background-image: url("assets/4C.png");
}

div.four.spade {
    background-image: url("assets/4S.png");
}

div.five.heart {
    background-image: url("assets/5H.png");
}

div.five.diamond {
    background-image: url("assets/5D.png");
}

div.five.club {
    background-image: url("assets/5C.png");
}

div.five.spade {
    background-image: url("assets/5S.png");
}

div.six.heart {
    background-image: url("assets/6H.png");
}

div.six.diamond {
    background-image: url("assets/6D.png");
}

div.six.club {
    background-image: url("assets/6C.png");
}

div.six.spade {
    background-image: url("assets/6S.png");
}

div.seven.heart {
    background-image: url("assets/7H.png");
}

div.seven.diamond {
    background-image: url("assets/7D.png");
}

div.seven.club {
    background-image: url("assets/7C.png");
}

div.seven.spade {
    background-image: url("assets/7S.png");
}

div.eight.heart {
    background-image: url("assets/8H.png");
}

div.eight.diamond {
    background-image: url("assets/8D.png");
}

div.eight.club {
    background-image: url("assets/8C.png");
}

div.eight.spade {
    background-image: url("assets/8S.png");
}

div.nine.heart {
    background-image: url("assets/9H.png");
}

div.nine.diamond {
    background-image: url("assets/9D.png");
}

div.nine.club {
    background-image: url("assets/9C.png");
}

div.nine.spade {
    background-image: url("assets/9S.png");
}

div.ten.heart {
    background-image: url("assets/10H.png");
}

div.ten.diamond {
    background-image: url("assets/10D.png");
}

div.ten.club {
    background-image: url("assets/10C.png");
}

div.ten.spade {
    background-image: url("assets/10S.png");
}

div.a.heart {
    background-image: url("assets/1H.png");
}

div.a.diamond {
    background-image: url("assets/1D.png");
}

div.a.club {
    background-image: url("assets/1C.png");
}

div.a.spade {
    background-image: url("assets/1S.png");
}

div.card.flip {
    animation-name: card-flip;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0)
}

div.card.hide {
    background-image: url("assets/backB.png");
}

@keyframes card-flip {
    0% {
        transform: rotateY(0deg);
        background-image: url("assets/backB.png");
    }

    49% {
        transform: rotateY(70deg);
    }

    50% {
        transform: rotateY(90deg);
        background-image: url("assets/backB.png");
    }

    51% {
        transform: rotateY(70deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}