:root {
  --current-player-bg-slice-width: 133px;
  --current-player-bg-slice-height: 141px;
}

.current-player {
  position: relative;
  width: 46%;
  margin: 0 auto;
}

.current-player .border.left, 
.current-player .border.right,
.current-player .border.middle {
  position: absolute;
}

.current-player .border.left {
  width: var(--current-player-bg-slice-width);
  height: var(--current-player-bg-slice-height);
  background-image: url('assets/hand/00.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.current-player .border.right {
  width: var(--current-player-bg-slice-width);
  height: var(--current-player-bg-slice-height);
  background-image: url('assets/hand/20.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
}

.current-player .border.middle {
  left: var(--current-player-bg-slice-width);
  width: calc(100% - (var(--current-player-bg-slice-width) * 2));
  height: var(--current-player-bg-slice-height);
  background-size: 100% cover;
  background-repeat: repeat-x;
  background-image: url('assets/hand/10.png');
  background-position: bottom center;
  top: 0;
}

.current-player {
  margin-bottom: 2rem;
}

.current-player .hand {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  min-height: var(--card-height);
}

.current-player .hand .card {
  margin-left: -0.4rem;
  margin-right: -0.4rem;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  width: fit-content;
  margin: auto;
}

.current-player .label {
  margin-top: 0.6rem;
  text-align: center;
  background-image: url('assets/label/Header5.png');
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.6rem 0rem 1.4rem;
}

/* .players .player .hand {
  pointer-events: none;
  min-height: calc(var(--card-height) * 0.6);
} */

/* .players .player .hand .card {
  height: calc(var(--card-height) * 0.6);
  width: calc(var(--card-width) * 0.6);
  margin-left: -1rem;
  margin-right: -1rem;
  background-image: url("assets/backB.png");
} */