:root {
    user-select: none;
}

body {
    background-image: url("assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem;
    color: white;
}

.public {
    max-width: 1280px;
    margin: 0 auto;
}

.jesters {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.environment {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    justify-items: center;
}

.environment .cards,
.environment .discard,
.environment .castle,
.environment .tavern {
    height: 140px;
    width: 100px;
    border-radius: 4%;
    border: 2px solid gray;
}

.environment .cards .card,
.environment .discard .card,
.environment .castle .card,
.environment .tavern .card {
    margin-bottom: -140px;
}

.environment .castle-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
}

.castle-wrapper .values {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 0.8rem;
}

.castle-wrapper .values .value {
    display: flex;
    flex-direction: column;
}

.castle-wrapper .values .value .digit {
    text-align: center;
    font-size: 1.6rem;
}

.battle {
    width: 70%;
    height: 300px;
    border-radius: 0.6rem;
    border: 2px solid gray;
    margin: 2rem auto;
}
